# Attribute definitions
# For "linguist-language" values, see https://github.com/github-linguist/linguist/blob/master/lib/linguist/languages.yml
[attr]adb   linguist-detectable linguist-language=AdBlock

# AdBlock filter files
AntiMormonismList.txt linguist-detectable linguist-language=AdBlock
AntiReligionAddition.txt linguist-detectable linguist-language=AdBlock
AntiScientologyList.txt linguist-detectable linguist-language=AdBlock
